<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg  ">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"> {{ title }} </a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-around">

        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['/']" (click)="isMenuCollapsed = true">Home</a>
          </li>
          <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/posts']" (click)="isMenuCollapsed = true">Posts</a>
          </li>

          <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/about']" (click)="isMenuCollapsed = true">About</a>
          </li>

        </ul>

        <div class="btn-group">
          <button class="btn btn-outline-light-gray btn-sm" (click)="auth.login()">Login</button>
          <button class="btn btn-outline-light-gray btn-sm" (click)="auth.logout()">Logout</button>
        </div>
      </div>


    </div>
  </nav>
</header>
<section class="container pt-5 pb-5 bg-light">
   <router-outlet></router-outlet>
</section>
